/*swiper도 미디어쿼리로 다 조정해야 할듯..*/
.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 5vh;
}

/* 슬라이더의 이미지를 위한 설정 */
.swiper-slide {
  background-size: cover;
  width: calc(50vh * 0.66);
  height: 46vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 7.378px;
  /* 이미지가 가운데 정렬되도록 마진 자동 설정 */
}

.swiper-pagination {
  height: 10%;
}

.swiper-pagination-bullet-active {
  background: black;
}
